:root {
  --bgColor: red;
}
.loginMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: black;
  background-image: url("/bgLogin.jpeg");
  background-repeat: no-repeat;
  background-size: cover; /* This is the correct property for stretching the background image */
}
.loginContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: none;
  padding-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 430px;
  backdrop-filter: blur(5px);
  border: 2px solid var(--bgColor);
}
.loginContainer .header {
  background: var(--bgColor);
  color: white;
  font-display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.loginContainer .text {
  margin-top: 20px;
  font-display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 175px;
  font-size: 25px;
  font-weight: bold;
}

.loginContainer .underline {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  color: var(--bgColor);
}

.loginContainer .submit-container button {
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 0px;
  width: 350px;
  height: 40px;
  border-radius: 20px;
  background: var(--bgColor);
  color: white;
  font-weight: bold;
  border: none;
  padding-left: auto;
}

.loginContainer .button:hover {
  background: var(--bgColor);
}

.loginContainer .input img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: auto;
}

.loginContainer .forgot-password {
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 110px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.loginContainer .forgot-password span {
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
}

.loginContainer .submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 40px;

  border-radius: 30px;

  color: red;
  font-weight: bold;
  border: none;
  padding-left: 32px;
}

.loginContainer .input {
  margin-top: 20px;
  margin-left: 55px;
  width: 60px;
  height: 40px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  padding-left: 30px;
}
